<ion-view title="Chat">
  <ion-side-menus>
    <!-- Messages for selected chat group -->
    <ion-side-menu-content>
      <ion-header-bar class="bar bar-subheader">
        <button class="button button-icon" ng-click="toggleGroups()" menu-toggle="left">
          <i class="icon ion-navicon"></i>
        </button>
        <h2 class="title">{{activeGroup.name}}</h2>
      </ion-header-bar>
      <ion-content scroll="true" overflow-scroll="true" padding="false" style="background: url(img/DyFaWZm0Q466F3sSCrcx_background.png) no-repeat center;" class="has-header">
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="search" placeholder="Search Messages">
        </label>
        <ion-list>
          <ion-item ng-repeat="message in activeGroup.messages" ng-click="selectMessage(message, $index)" ng-class="{active: activeMessage == message}">
            <p>{{message.timestamp}}</p>
            <button class="button button-calm" ng-click="followUp(message)">
              <i class="icon ion-navicon"></i>
            </button>
            {{message.user}}: {{message.content}}
          </ion-item>
        </ion-list>
        <div class="item item-input-inset">
          <label class="item-input-wrapper">
            <input type="text" placeholder="Message">
          </label>
          <button class="button button-calm button-right">
            Send
          </button>
        </div>
      </ion-content>
    </ion-side-menu-content>

    <!-- Listing of chat groups -->
    <ion-side-menu side="left">
      <ion-header-bar class="bar bar-subheader">
        <h2 class="title">Groups</h2>
      </ion-header-bar>
      <ion-content scroll="true" overflow-scroll="true" padding="false" style="background: url(img/1z7jKuKcT8ymU7yxKmba_background.png) no-repeat center;" class="has-header">
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="search" placeholder="Search Groups">
        </label>
        <ion-list>
          <ion-item ng-repeat="group in groups" ng-click="selectGroup(group, $index)" class="item-thumbnail-left" ng-class="{active: activeGroup == group}" menu-toggle="left">
            <img src={{group.imgSrc}}>
            <h3>{{group.name}}</h3>
            <p>{{group.lastMessage}}</p>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-side-menu>
  </ion-side-menus>
</ion-view>