<ion-view title="Chat">
    <ion-content overflow-scroll="true" padding="false" style="background: url(img/QYPhwLqRRN2QcdQKkLM3_dots.jpg) no-repeat center;" class="has-header">
        <ion-list>
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Search Messages">
            </label>
            <ion-item class="item-thumbnail-left" ui-sref="tabsController.nigelHayes">
                <img src="img/Boc83lhjQNq0NXuhM6sl_nigel.jpg">
                <h2>Nigel Hayes</h2>
                <p>I think we need to change the meth</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/AKScFVblSK5iHpV6pstq_Drawing.png">
                <h2>CS506 Project 1</h2>
                <p>Is everyone's GitHub accounts wo</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/1OqyVb4XQz6WYCPraFqR_Lab.jpg">
                <h2>Matt Shi</h2>
                <p>I believe it is due one week from</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/8607Y3KSIStiNw1U9Dom_tracy.jpg">
                <h2>CS570 Full Class Chat</h2>
                <p>We have a quiz tomorrow.</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/tklIc2TaTMGodAGytjz7_Barry.jpg">
                <h2>Taylor Johnston</h2>
                <p>I'll meet you in the CS lobby at 5</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/5uhMge7TTyenmgf0lnzl_Tiki.jpg">
                <h2>Tiki Barber</h2>
                <p>I think Node.JS will work better than Angular</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>