<ion-view title="Forums">
    <ion-content overflow-scroll="true" padding="true" style="background: url(img/y5o6iD0rShefgzyB8Q89_background.png) no-repeat center;" class="has-header">
        <form class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Search Forum">
            </label>
        </form>
        <ion-list>
          <ion-item ng-repeat="forum in forums" ng-click="selectForum(forum, $index)">
            <h3>{{forum.name}}</h3>
          </ion-item>
        </ion-list>
        <div class="spacer" style="width: 320px; height: 14px;"></div>
    </ion-content>
</ion-view>