<ion-view title="Forum">
    <ion-content overflow-scroll="true" padding="true" style="background: url(img/y5o6iD0rShefgzyB8Q89_background.png) no-repeat center;" class="has-header">
        <form class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Search Forum">
            </label>
        </form>
        <ion-list>
            <ion-item>1. Java API</ion-item>
            <ion-item>2. Node.js. Tip Sheets</ion-item>
            <ion-item>4. Machine Learning Algorithms</ion-item>
            <ion-item>5. UW CS302 Help</ion-item>
            <ion-item>6. Ionic Framework Help</ion-item>
            <ion-item>7. Interpolation Search</ion-item>
            <ion-item>8. GitHub Repository Post</ion-item>
            <ion-item>9. Xcode Storyboard Tips</ion-item>
            <ion-item>10. iOS Development</ion-item>
        </ion-list>
        <div class="spacer" style="width: 320px; height: 14px;"></div>
    </ion-content>
</ion-view>