<ion-view title="Login">
    <ion-content overflow-scroll="true" padding="true" style="background: url(img/P318DMwsRQKc4HFZwxBV_background.png) no-repeat center;" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a ui-sref="tabsController.home" id="login-button2" class="button button-calm  button-block">Log in</a>
            <a ui-sref="signup" id="login-button3" class="button button-calm  button-block">Or create an account</a>
        </form>
    </ion-content>
</ion-view>