<ion-view title="My Profile">
    <ion-content overflow-scroll="true" padding="true" style="background: url(img/hxfvhAG6SiaUtT0oCjzt_background.png) no-repeat center;" class="has-header">
        <ion-list>
            <ion-item class="item-thumbnail-center">
            <div style="text-align:center;">
                <img <img style="border:5px double #000080;" src="img/Spellman.jpg" width="40%" height="auto">
            </div> 
            <div style="text-align:center;">   
                <h2>Michael Spelman</h2>
                <p>michael@example.com</p>
                <p>608-555-9111</p>
                <p>Madison, WI</p>
            </div>
            </ion-item>
        </ion-list>-->
    </ion-content>
</ion-view>