<ion-view title="Nigel Hayes">
    <ion-content overflow-scroll="true" padding="false" style="background: url(img/DyFaWZm0Q466F3sSCrcx_background.png) no-repeat center;" class="has-header">
        <ion-list>
            <ion-item>Nigel: Hey man what time are we meeting.</ion-item>
            <ion-item>Me: 6 pm in the CS Lab.</ion-item>
            <ion-item>Nigel: Ok i'll be there.</ion-item>
        </ion-list>
        <ion-list>
            <ion-item>Nigel: Can you push that git repo</ion-item>
            <ion-item>Me: Yep, just did.</ion-item>
            <ion-item>Nigel: thanks man.</ion-item>
        </ion-list>
        <ion-list>
            <ion-item>Me: Good luck against Pitt</ion-item>
            <ion-item>Nigel: 3rd final four in a row baby!</ion-item>
            <ion-item>Me: See you in class tomorrow</ion-item>
        </ion-list>
    </ion-content>
</ion-view>