<ion-view title="Posts">
  <ion-header-bar class="bar bar-subheader">
    <h2 class="title">{{activeForum.name}}</h2>
  </ion-header-bar>
  <ion-content overflow-scroll="true" padding="true" style="background: url(img/dTAXonssS5fuH6Ix4d3x_background.png) no-repeat center;" class="has-header">
    <ion-list>
      <ion-item ng-repeat="post in activeForum.posts">
        {{post.user}}: {{post.content}}
      </ion-item>
    </ion-list>
    <div class="item item-input-inset">
      <label class="item-input-wrapper">
        <input type="text" placeholder="Forum Post">
      </label>
      <button class="button button-calm button-right">
        Post
      </button>
    </div>
  </ion-content>
</ion-view>