<ion-view title="Posts">
  <ion-header-bar class="bar bar-subheader">
    <h2 class="title">{{activeForum.name}}</h2>
  </ion-header-bar>
  <ion-content overflow-scroll="true" padding="true" style="background: url(img/dTAXonssS5fuH6Ix4d3x_background.png) no-repeat center;" class="has-header">
    <ion-list>
      <ion-item ng-repeat="post in activeForum.posts">
        {{post.user}}: {{post.content}}
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 30px;"></div>
    <div style="text-align:center;">
      <img src="img/qqN036DCS4OPmmfhatAV_Ey.png" width="75" height="auto">
    </div>
  </ion-content>
</ion-view>